.profile-back {
  @apply mb-16 py-16 tablet:mb-24 z-20;

  &--inverse {
    @apply bg-opacity-60 bg-primary-navy;

    .profile-back__link {
      @apply text-neutral-100;
    }
  }

  &__icon {
    @apply mr-16;
    width: 1.125rem;
  }

  &__link {
    @apply inline-flex items-center hover:underline no-underline p-4 text-label text-primary-navy tracking-wide uppercase;
  }
}
