.parent-category-type {
  @apply elevation-1 flex flex-col relative rounded;

  height: 100%;

  @screen tablet {
    height: 10.75rem;
  }

  @media (hover: hover) {
    &:hover {
      @apply elevation-3;
    }

    &:focus-within {
      @apply ring-2 ring-offset-1 ring-primary-blue;
    }
  }

  &__overview {
    @apply bg-primary-light flex flex-col flex-grow p-8;

    @screen tablet {
      height: 7.75rem;
      padding: 0.75rem;
    }
  }

  &__heading {
    @apply font-medium mb-8;

    font-size: 1.125rem;
    line-height: 1.375rem;

    @screen tablet {
      @apply text-h3;
    }
  }

  &__description {
    @apply flex-1 sr-only tablet:not-sr-only text-p-sm text-neutral-600;

    @screen tablet {
      overflow: hidden;
    }
  }

  &__action {
    padding: 0.625rem 0.5rem;
    line-height: 1.25rem;

    .cta-link {
      font-size: 0.8125rem;

      @media (hover: hover) {
        &:hover {
          @apply no-underline;
        }

        &:focus {
          @apply ring-0 ring-offset-0;
        }

        &:after {
          @apply absolute bottom-0 left-0 right-0 top-0;
          content: '';
        }
      }
    }

    @screen tablet {
      line-height: inherit;
      padding: 0.625rem;
      height: 3rem;
      overflow: hidden;

      .cta-link {
        font-size: 0.8125rem;
      }
    }
  }
}
