.home-heading {
  @apply flex flex-col mb-16 sm-desktop:mb-0;

  &__prefix {
    @apply font-medium text-h5 tracking-widest uppercase;
  }

  &__main {
    @apply font-bold text-h2 mt-8 text-primary-navy;

    @screen tablet {
      @apply text-h1 mt-0;
    }
  }
}
