.filter-sidebar-content {
  .border-between > * + * {
    @apply border-neutral-400 border-t;
  }
}

.sidebar-related {
  @apply hidden pb-40 px-24 pt-32;

  @screen sm-desktop {
    @apply block;
  }

  &__heading {
    @apply font-medium mb-16 text-h3 text-primary-navy;
  }

  &__list {
    .sidebar-related__list-item + .sidebar-related__list-item {
      @apply mt-8;
    }
  }
}

.sidebar-help {
  @apply px-16 py-32;
  @screen sm-desktop {
    @apply px-24;
  }
}
