.child-filter {
  @apply elevation-1;

  &__body {
    @apply h-auto overflow-hidden p-16;
    transition: max-height 0.15s ease-in;
    max-height: 40rem;
  }

  &--collapsed {
    .child-filter {
      &__body {
        @apply p-0;
        max-height: 0;
        transition: max-height 0.15s ease-out;
      }

      &__legend {
        @apply bg-primary-navy text-neutral-100;
      }

      &__toggle {
        svg {
          @apply bg-neutral-100 text-primary-navy;

          .vert {
            @apply block;
          }
        }
      }
    }
  }

  &__legend {
    @apply bg-secondary-light relative w-full;

    button {
      @apply font-bold outline-none px-16 text-label text-left tracking-widest uppercase w-full;
      padding-bottom: 0.75rem;
      padding-top: 0.75rem;

      &:focus {
        svg {
          @apply ring ring-offset-1 ring-primary-blue;
        }
      }
    }
  }

  &__fields {
    @apply grid gap-8 grid-cols-1 lg-mobile:grid-cols-3 lg-mobile:gap-16 p-16;
  }

  &__toggle {
    @apply absolute right-16;

    height: 1rem;
    width: 1rem;

    svg {
      @apply bg-primary-navy fill-current h-16 p-4 rounded-full text-neutral-100 w-16;

      .vert {
        @apply hidden;
      }
    }
  }
}
