.mobile-nav-trigger {
  @apply sm-desktop:hidden;

  grid-area: nav;

  &__icon {
    @apply h-24 w-32;
  }
}

.main-nav {
  @apply hidden sm-desktop:block;

  grid-area: nav;

  &__list {
    @apply flex flex-row;
  }

  &__list-item {
    & + & {
      @apply ml-8;
    }
  }

  &__link {
    @apply font-bold no-underline px-16 py-8 text-primary-navy;

    &:hover {
      @apply border-b-2 border-primary-navy;
    }

    &:focus {
      @apply border-none;
    }
  }
}

.mobile-nav-menu {
  @apply bg-primary-light bottom-0 elevation-4 fixed tablet:w-1/2 right-0 top-0 w-3/4 z-20;
  margin-right: -80rem;
  opacity: 0;
  transition: 300ms ease all;
  visibility: hidden;

  &--expanded {
    opacity: 1;
    transform: translateX(
      -80rem
    ); /* purposefully 2 less than margin-left to account for container */
    visibility: visible;
  }

  &__header {
    @apply flex items-center justify-between p-16;
  }

  &__content {
    @apply px-16;
  }

  &__close-button {
    svg {
      @apply h-32 w-32;
    }
  }
}

.mobile-main-nav {
  &__link {
    @apply block border-b border-neutral-400 font-bold no-underline text-primary-navy py-16 w-full;
  }
}
