.parent-company-card {
  @apply elevation-2 h-full flex flex-col rounded;

  &__heading {
    @apply bg-primary-navy font-bold p-8 pt-16 rounded-t text-h3 text-neutral-100;

    @screen tablet {
      @apply px-16;
      padding-bottom: 0.75rem;
      padding-top: 1.75rem;
    }
  }

  &__content {
    @apply flex-grow mb-16 px-8 pt-16;

    img {
      @apply h-auto mb-16 w-full;
    }

    p {
      @apply text-label;
    }

    @screen tablet {
      @apply pt-24 px-16;
    }
  }

  &__actions {
    @apply mt-auto pb-16 px-8;

    .cta-link {
      @apply font-medium;

      font-size: 0.8125rem;
    }

    @screen tablet {
      @apply pb-24 px-16;
    }
  }
}
