.button {
  @apply bg-primary-blue duration-500 ease-in-out font-medium px-24 py-8 rounded text-neutral-100 text-caption tracking-wider transition uppercase;

  &:hover {
    background-color: #005382;
  }

  &--navy {
    @apply bg-primary-navy;

    &:hover {
      background-color: #002c44;
    }
  }

  &--red {
    @apply bg-secondary-red;

    &:hover {
      background-color: #89051d;
    }
  }
}
