@import './Type/styles.css';

.parent-category-card {
  @apply elevation-1 rounded;

  & + & {
    @apply mt-40;
  }

  &__overview {
    @apply bg-primary-light flex flex-col p-16 tablet:flex-row tablet:p-24;
  }

  &__image {
    @apply mb-8 tablet:mr-24 tablet:mb-0;
  }

  &__heading-link {
    @apply inline-block no-underline;
    color: inherit;

    &:hover {
      @apply underline;
    }
  }

  &__name {
    @apply font-bold inline sm-desktop:text-h2 text-h3;
  }

  &__results {
    @apply inline text-h3;
  }

  &__description {
    @apply mt-8 text-neutral-600;
  }

  &__types {
    @apply p-16 tablet:p-24;
  }

  &__types-heading {
    @apply mb-16 sm-desktop:mb-24 sm-desktop:text-h2 text-h3 text-neutral-700;
  }
}
