.search-heading {
  @apply border-b border-neutral-500 mb-16 mt-24 pb-16;

  &__title {
    @apply text-h2;

    @screen tablet {
      @apply text-h1;
    }
  }

  @screen tablet {
    @apply my-32 pb-32;
  }

  @screen sm-desktop {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
  }

  &__keyword {
    @apply font-bold;
  }

  &__suggestions-title {
    @apply mb-16 mt-24 text-h3;

    @screen sm-desktop {
      @apply mt-32;
    }
  }

  &__suggestions-list {
    @apply -m-8 flex flex-row flex-wrap;

    li {
      @apply m-8;
    }
  }
}
