.filter-layout {
  @apply flex flex-row;

  &--collapsed {
    .filter-layout__content {
      @screen sm-desktop {
        @apply ml-24;
      }
    }

    .filter-layout__aside {
      @apply w-24;

      .filter-layout__aside-content {
        @apply opacity-0;
        transition: none;
      }

      .filter-layout__aside-toggle svg {
        transform: none;
      }
    }
  }

  &__content {
    @apply flex-grow p-32 w-full;

    &--with-breadcrumbs {
      padding-top: 1.25rem;
    }

    @screen sm-desktop {
      margin-left: 33%;
      transition: margin-left 0.3s ease-out;
    }

    @screen hd-desktop {
      margin-left: 25%;
      transition: margin-left 0.3s ease-out;
    }
  }

  &__aside {
    @apply bg-neutral-200 bottom-0 fixed hidden left-0 sm-desktop:block sm-desktop:w-1/3 hd-desktop:w-1/4;
    box-shadow: inset -2px 0 4px 0 rgba(0, 0, 0, 0.1);
    padding-right: 0.25rem;
    top: 4.75rem;
    transition: width 0.3s ease-out;
  }

  &__aside-content {
    @apply h-full opacity-100 overflow-y-scroll;
    transition: opacity 0.3s ease-out;
    transition-delay: 0.3s;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* Webkit */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__aside-toggle {
    @apply absolute bg-neutral-100 border border-neutral-400  p-4 rounded-full text-neutral-600 top-24 transition-all z-10;
    right: -0.75rem;

    &:hover {
      @apply bg-neutral-200;
    }

    &:focus {
      @apply bg-neutral-300 rounded-full;
    }

    svg {
      @apply h-16 ease-in-out transition-all w-16;
      transform: rotate(180deg);
    }
  }
}
