/* https://github.com/reach/reach-ui/tree/develop/packages/skip-nav */
.skip-link {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;

  &:focus {
    @apply bg-primary-navy no-underline px-24 py-16 text-h3 text-neutral-100 ring-0;
    padding: 1rem;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 21;
    width: auto;
    height: auto;
    clip: auto;
  }
}
