.not-found {
  @apply flex flex-col py-32;

  @screen tablet {
    @apply py-72;
  }

  @screen sm-desktop {
    @apply flex-row-reverse;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  @screen profile-desktop {
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
  }

  &__content {
    @screen sm-desktop {
      @apply mr-32 w-3/4;
    }
  }

  &__image {
    @apply mb-32 self-center;
    max-width: 13.75rem;

    @screen sm-desktop {
      @apply mb-0 w-1/4;
      max-width: none;
    }
  }

  &__heading {
    @apply font-bold mb-16 text-h2;

    @screen tablet {
      @apply text-h1;
    }
  }

  &__body {
    font-size: 1.125rem;
    line-height: 1.5rem;

    @screen tablet {
      font-size: 1.25rem;
    }
  }

  &__description {
    @apply mb-32;
  }

  &__list {
    @apply font-medium;
  }

  &__list-item {
    a {
      @apply flex flex-row items-center;
    }

    svg {
      @apply h-16 ml-4 w-16;
    }

    & + & {
      @apply mt-16;
    }
  }
}
