.breadcrumb {
  @apply mb-32 pb-16 tablet:mb-24 z-20;

  &--mobile-condensed {
    @apply pb-0;

    & > nav {
      @apply hidden tablet:block;
    }

    @screen tablet {
      @apply border-b border-neutral-400 pb-16;
    }
  }

  & > a {
    @apply block inline-flex items-center no-underline tablet:hidden text-label text-primary-navy tracking-wider uppercase;

    & > svg {
      @apply h-16 mr-8 w-16;
    }
  }

  &--inverse {
    @apply bg-opacity-60 bg-primary-navy;

    .breadcrumb__link,
    .breadcrumb__separator,
    .breadcrumb__item[aria-current='page'] > .breadcrumb__link {
      @apply text-neutral-100;
    }
  }

  &__list {
    @apply flex flex-row flex-wrap; /* -m-4 */
  }

  &__item {
    @apply flex items-center;

    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    &[aria-current='page'] > .breadcrumb__link {
      @apply font-bold text-neutral-800;
    }
  }

  &__link {
    @apply hover:underline no-underline p-4 text-label text-primary-navy tracking-wide uppercase;
  }

  &__separator {
    @apply mx-4 sm-desktop:mx-8 text-primary-blue;
    width: 1.125rem;
  }
}
