.selected-filter-chip {
  @apply bg-primary-light inline-flex items-center leading-none p-8 rounded-full text-label text-primary-navy;
  box-shadow: 0 0 0.25rem 0 theme('colors.neutral.500');

  &__button {
    @apply ml-8;
    svg {
      @apply h-16 w-16;
    }
  }
}

.selected-filter-list {
  @apply -m-8 mb-32 flex flex-row flex-wrap;

  &:empty {
    @apply mb-0;
  }

  li {
    @apply m-8;
  }
}
