.profile-layout {
  @apply gap-40 grid grid-cols-1 mb-72 sm-desktop:gap-32 sm-desktop:grid-cols-12;

  .sidebar-block + .sidebar-block {
    @apply mt-40;
  }

  &__main {
    @apply col-span-12 sm-desktop:col-span-8;
  }

  &__aside {
    @apply col-span-12 sm-desktop:col-span-4;
  }
}
