.sponsored-listings {
  @apply w-full;

  &__preamble {
    @apply mb-16 text-caption text-center text-neutral-700;
  }

  &__main {
    @apply flex flex-col;

    @screen tablet {
      @apply flex-row;
    }
  }

  &__introduction {
    @apply flex flex-col justify-center p-16;
    background-color: #dfe4e2;

    @screen tablet {
      @apply w-1/4;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }

  &__body {
    @apply bg-primary-light flex flex-col px-16 py-24;

    @screen tablet {
      @apply flex-row w-3/4;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }

  &__heading {
    @apply font-bold mb-8 text-h3;
  }

  &__description {
    @apply text-p-sm text-neutral-700;

    @screen sm-desktop {
      @apply text-p;
    }
  }
}

.sponsored-listing {
  @apply flex flex-row items-start;

  @screen tablet {
    @apply flex-col w-1/3;
  }

  & + & {
    @apply mt-24;

    @screen tablet {
      @apply mt-0;
      margin-left: 1.25rem;
    }
  }

  &__image {
    @apply h-auto mr-16;
    width: 8rem;

    @screen lg-mobile {
      width: 10rem;
    }

    @screen tablet {
      @apply mb-8 mr-0 w-full;
    }
  }

  &__body {
  }

  &__company {
    @apply font-medium mb-8 text-primary-blue tracking-widest uppercase;

    font-size: 0.8125rem;
  }

  &__heading {
    @apply font-bold mb-8 text-h4;
  }

  &__description {
    @apply text-neutral-700 text-p-sm;
  }
}
