.sidebar-block {
  &__content {
    @apply text-neutral-700;
  }

  &__cta {
    @apply font-bold hover:underline no-underline;

    &:after {
      @apply pl-4;
      content: '»';
    }
  }

  &__heading {
    @apply font-medium mb-16 text-h3;
  }

  &__paragraph {
    @apply inline;
  }
}
