@import './Navigation/styles.css';
@import './SearchBar/styles.css';

.header {
  @apply bg-primary-light elevation-2 flex items-center justify-between px-24 py-8 relative z-10;
  /* relative so box shadow shows on top of below element */

  display: grid;

  grid:
    'logo   nav' auto
    'search search' auto / 1fr auto;

  @screen tablet {
    grid: 'logo search nav' auto / 1fr auto auto;
  }

  @screen sm-desktop {
    grid: 'logo nav search' auto / 1fr auto auto;
  }

  &__logo {
    grid-area: logo;
    height: 3.75rem;
    width: 13.75rem;
  }
}
