.company-header {
  @apply bg-neutral-100 elevation-1 mb-32 p-16 pb-24 rounded tablet:mb-40;
  display: grid;

  grid-template:
    'image'
    'name'
    'address'
    'links'
    'description';

  @screen tablet {
    @apply p-24;
    grid-template:
      'image        name' auto
      'image        address' auto
      'image        links' auto
      'description  description' 1fr
      / auto 1fr;
  }

  @screen sm-desktop {
    grid-template:
      'image  name' auto
      'image  address' auto
      'image  links' auto
      'image  description' 1fr
      / auto 1fr;
  }

  &__name {
    @apply font-bold text-h1;
    grid-area: name;
  }

  &__address {
    @apply mb-24 not-italic;
    grid-area: address;
  }

  &__image {
    @apply flex items-center justify-center mr-16 rounded-full;

    box-shadow: inset 0 0 10px theme('colors.neutral.500');
    grid-area: image;
    height: 9.75rem;
    width: 9.75rem;

    @screen tablet {
      height: 6.8125rem;
      width: 6.8125rem;
    }

    @screen sm-desktop {
      height: 11.375rem;
      width: 11.375rem;
    }

    img {
      @apply px-16;
      height: auto;
      max-width: 100%;
    }
  }

  &__links {
    @apply flex flex-row gap-24 mb-24;
    grid-area: links;
  }

  &__link {
    @apply flex flex-row font-medium hover:underline items-center no-underline text-h5 text-primary-blue tracking-wider uppercase;

    &--hidden {
      @apply hidden;
    }
  }

  &__phone-link {
    @apply flex flex-row font-medium hover:underline items-center no-underline text-h5 text-neutral-800 tracking-wider;

    &--hidden {
      @apply hidden;
    }

    .company-header__link-icon {
      fill: theme('colors.primary.blue');
    }
  }

  &__link-icon {
    @apply fill-current mr-4;
  }

  &__link-toggle {
    @apply ml-4 w-16;
  }

  &__description {
    @apply relative sm-desktop:h-auto text-neutral-700;
    grid-area: description;

    p {
      @apply overflow-hidden;
      height: 5rem;
      transition: height 0.2s linear;

      @screen sm-desktop {
        height: auto;
      }
    }

    &--expanded {
      p {
        height: 100%;
      }

      .company-header__description-mask,
      .company-header__description-toggle {
        @apply hidden;
      }
    }
  }

  &__description-mask {
    @apply absolute bg-gradient-to-t from-neutral-100 h-full sm-desktop:hidden top-0 w-full;
  }

  &__description-toggle {
    @apply absolute left-0 mx-auto right-0 sm-desktop:hidden text-primary-blue z-10;
    bottom: -0.75rem;

    svg {
      width: 1.5rem;
    }
  }
}
