.search-subsection {
  & + & {
    @apply mt-72;
  }

  &__heading {
    @apply mb-8 text-h2;

    @screen tablet {
      @apply text-h1;
    }
  }

  &__description {
    @apply mb-24 text-neutral-600;

    @screen sm-desktop {
      @apply mb-32;
    }
  }
}
