.home-category-card {
  @apply elevation-2 flex flex-col h-full relative rounded;

  @media (hover: hover) {
    &:hover {
      @apply elevation-3;
    }

    &:focus-within {
      @apply ring-2 ring-offset-1 ring-primary-blue;
    }
  }

  &__content {
    @apply flex-grow mt-16 px-16;
  }

  &__image {
    @apply bg-primary-light rounded-t w-full;
    height: 11.25rem;
    object-fit: cover;
  }

  &__name {
    @apply font-medium text-h3 text-primary-navy;

    a {
      @apply hover:underline inline-block no-underline;
      color: inherit;

      @media (hover: hover) {
        &:hover {
          @apply no-underline;
        }

        &:focus {
          @apply ring-0 ring-offset-0;
        }

        &:after {
          @apply absolute bottom-0 left-0 right-0 top-0;
          content: '';
        }
      }
    }
  }

  &__footer {
    @apply flex flex-row justify-between mt-auto p-16;
  }

  &__count {
    @apply leading-none text-label text-neutral-600;
  }

  .tooltip-trigger {
    @apply z-10;
  }
}
