@import './Feature/styles.css';

.category-card {
  @apply bg-neutral-100 elevation-1 rounded;

  & + & {
    @apply mt-40;
  }

  &__body {
    & > * + * {
      @apply mt-8;
    }

    h3 {
      font-weight: bold;
    }
  }

  &__container {
    @apply pb-24 pl-16 pr-16 pt-16 tablet:p-24;
  }

  &__features {
    @apply border-t border-neutral-400 flex flex-col mt-24 pt-24 tablet:flex-row;
  }

  &__heading {
    @apply bg-primary-navy font-semibold pb-8 pl-16 pr-16 pt-16 rounded-t text-h2 text-neutral-100 w-full;

    @screen tablet {
      @apply px-24 pb-16;
      padding-top: 1.75rem;
    }
  }

  &__image {
    @apply flex-shrink-0;

    height: 16.5625rem;
    max-width: 100%;
    width: 18.5rem;

    @screen tablet {
      height: 14.5625rem;
      width: 16.25rem;
    }

    @screen sm-desktop {
      height: 13.625rem;
      width: 15.1875rem;
    }

    @screen profile-desktop {
      height: 16rem;
      width: 17.8125rem;
    }
  }

  &__overview {
    @apply flex flex-col sm-desktop:flex-row;

    & > * + * {
      @apply mt-24 sm-desktop:ml-24 sm-desktop:mt-0;
    }
  }
}

.category-card-packages {
  @apply -m-4 flex flex-row flex-wrap;

  &__package {
    @apply border border-neutral-400 m-4 p-4 rounded-full;

    height: 3rem;
    width: 3rem;
  }
}
