.search-suggestion {
  @apply bg-primary-light flex font-bold h-32 items-center pl-8 pr-16 py-4 rounded-full text-primary-navy;
  box-shadow: 0 0 0.25rem 0 theme('colors.neutral.500');

  &__icon {
    @apply h-16 mr-4 w-16;
  }

  &:hover {
    box-shadow: 0 0 0.25rem 0 theme('colors.neutral.600');
  }

  &:focus {
    @apply rounded-full;
  }
}
