.equipment-filter-fields {
  @apply grid gap-8 grid-cols-1;

  @screen lg-mobile {
    @apply grid-cols-3 gap-16;
  }
}

.equipment-filter-checkbox {
  @apply sr-only;

  &:checked + .equipment-filter-label {
    .equipment-filter-label__img {
      img {
        @apply border border-primary-blue;
        box-shadow: none;
      }
    }

    .equipment-filter-label__text {
      @apply text-primary-blue;
    }
  }

  &:focus + .equipment-filter-label {
    @apply ring-1 ring-offset-2 ring-primary-blue rounded;
  }
}

.equipment-filter-label {
  @apply flex items-center;

  @screen lg-mobile {
    @apply inline-block;
  }

  &__img {
    @apply flex-shrink-0 mr-8;
    width: 3rem;

    @screen lg-mobile {
      @apply mr-0;
      width: auto;
    }

    img {
      @apply rounded;
      box-shadow: 0 0 4px 0 theme('colors.neutral.400');
    }
  }

  &__text {
    @apply block text-label text-neutral-600;

    @screen lg-mobile {
      @apply mt-4;
    }
  }
}
