.checkbox {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  &__input {
    @apply mr-8;

    &:checked + .checkbox__label {
      @apply font-bold;
    }
  }

  &__label {
    @apply inline text-neutral-700;
  }
}
