.footer-nav {
  @apply mt-16 tablet:ml-24 tablet:mt-0;

  &__list {
    @apply flex flex-row items-center;
  }

  &__list-item {
    & + & {
      @apply ml-16;
    }
  }

  &__link {
    @apply text-primary-navy underline;
  }
}
