.home-category-list {
  @apply -mx-8 -my-16 flex flex-row flex-wrap pt-24;

  @screen tablet {
    margin-left: -0.625rem;
    margin-right: -0.625rem;
  }

  @screen sm-desktop {
    @apply pt-40;

    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }

  &__item {
    @apply px-8 py-16 w-1/2;

    @screen tablet {
      @apply w-1/4;

      padding-left: 0.625rem;
      padding-right: 0.625rem;
    }

    @screen sm-desktop {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
  }
}
