@import 'tailwindcss/base';

@import 'tailwindcss/components';
@import '../components/styles.css';
@import './Home.css';
@import './Profile.css';

@import 'tailwindcss/utilities';

@layer base {
  a {
    @apply text-primary-blue underline;
  }

  a,
  button,
  input,
  select {
    &:focus {
      @apply outline-none ring-2 ring-offset-1 ring-primary-blue rounded;
    }
  }
}

.company-card-search-list {
  @apply gap-16 grid grid-cols-2;

  @screen lg-mobile {
    @apply grid-cols-3;
  }

  @screen tablet {
    @apply grid-cols-4;
    gap: 1.25rem;
  }

  @screen sm-desktop {
    @apply gap-24;
  }

  @screen hd-desktop {
    @apply grid-cols-5;
    gap: 1.625rem;
  }
}

.company-listing-list {
  @apply gap-16 grid grid-cols-2;

  @screen tablet {
    @apply grid-cols-4;
    gap: 1.25rem;
  }

  @screen sm-desktop {
    @apply grid-cols-3;
  }

  @screen hd-desktop {
    @apply grid-cols-4 gap-24;
  }
}

.results-subheading {
  @apply mb-24 mt-72 text-h3;

  @screen lg-mobile {
    @apply mb-32;
  }

  @screen sm-desktop {
    @apply text-h2;
  }

  &__keyword {
    @apply font-bold;
  }
}
