.mobile-sidebar-card-content {
  @apply sm-desktop:hidden;

  & > * + * {
    @apply mt-40;
  }

  .category-card {
    .sidebar-block + .sidebar-block {
      @apply border-t border-neutral-400 mt-24 pt-24;
    }
  }
}

.profile-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;

  @screen lg-mobile {
    max-width: 30rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  @screen tablet {
    max-width: 48rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  @screen sm-desktop {
    max-width: 64rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  @screen profile-desktop {
    max-width: 75rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
