.company-card {
  @apply elevation-2 flex flex-col h-full relative rounded transition-all;

  @media (hover: hover) {
    &:hover {
      @apply elevation-3;
    }

    &:focus-within {
      @apply ring-2 ring-offset-1 ring-primary-blue;
    }
  }

  &__image {
    @apply border-b-2 border-neutral-400 rounded-t w-full;
  }

  &__content {
    @apply flex flex-col overflow-hidden p-8 pb-16;
    max-height: 12rem;
  }

  &__heading {
    @apply font-medium mb-8;
    font-size: 1.125rem;

    @screen sm-desktop {
      @apply text-h3;
    }
  }

  &__link {
    @apply no-underline text-neutral-800;

    @media (hover: hover) {
      &:focus {
        @apply ring-0 ring-offset-0;
      }

      &:after {
        @apply absolute bottom-0 left-0 right-0 top-0;
        content: '';
      }
    }
  }

  &__description {
    @apply flex-1 overflow-hidden text-neutral-600 text-p-sm;
  }

  &__sponsor {
    @apply font-bold mb-4 mx-8 text-caption text-neutral-600;
  }
}
