.additional-category-list {
  @apply flex flex-row;

  & + & {
    @apply mt-8;
  }

  &__item {
    @apply flex flex-row font-medium items-center;
  }

  &__separator {
    @apply sm-desktop:mx-8 text-primary-blue w-16;
    margin-left: 0.125rem;
    margin-right: 0.125rem;
  }
}
