.additional-companies {
  &__heading {
    @apply mb-16 text-h3 text-neutral-700;

    @screen tablet {
      @apply text-h2;
    }

    @screen sm-desktop {
      margin-bottom: 1.25rem;
    }
  }

  &__list-item {
    & + & {
      margin-top: 0.75rem;
    }
  }

  &__link {
    @apply font-bold no-underline text-primary-navy;
  }
}
