.contact-card {
  @apply bg-neutral-100 elevation-1 mb-40 rounded;

  &__legend {
    @apply bg-primary-navy font-medium px-16 rounded-tl rounded-tr text-h3 text-neutral-100 w-full;
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
  }

  &__fields {
    @apply p-16;
  }

  &__text {
    @apply border border-neutral-300 mb-8 px-8 py-4 w-full;
    min-height: 6.875rem;
  }

  &__submit {
    @apply bg-neutral-800 px-24 py-16 rounded text-label text-neutral-100 tracking-wider uppercase;
  }
}
