.search-section {
  & + & {
    @apply border-t border-neutral-500;
    margin-top: 3rem;
    padding-top: 2rem;

    @screen sm-desktop {
      padding-top: 3rem;
    }
  }

  &__heading {
    @apply font-bold mb-32 text-h2;

    @screen tablet {
      @apply text-h1;
    }
  }

  &__heading-keyword {
    @apply text-primary-blue;
  }
}
