.tooltip {
  &__icon {
    @apply h-16 text-neutral-500 w-16;
  }
}

.tippy-box[data-theme~='pmmi'] {
  background-color: theme('colors.primary.blue');
}

.tippy-box[data-theme~='pmmi'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: theme('colors.primary.blue');
}
.tippy-box[data-theme~='pmmi'][data-placement^='bottom']
  > .tippy-arrow::before {
  border-bottom-color: theme('colors.primary.blue');
}
.tippy-box[data-theme~='pmmi'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: theme('colors.primary.blue');
}
.tippy-box[data-theme~='pmmi'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: theme('colors.primary.blue');
}
