.mobile-sidebar {
  @apply bg-neutral-200 bottom-0 elevation-4 fixed tablet:w-1/2 top-0 w-3/4 z-20;
  margin-left: -80rem;
  opacity: 0;
  transition: 300ms ease all;
  visibility: hidden;

  &__content {
    @apply h-full overflow-y-scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* Webkit */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &--expanded {
    opacity: 1;
    transform: translateX(
      78rem
    ); /* purposefully 2 less than margin-left to account for container */
    visibility: visible;
  }

  &__heading {
    @apply bg-neutral-100 border-b-2 border-neutral-400 font-medium p-24 text-h3;
  }

  &__subheading {
    @apply bg-neutral-100 font-bold px-24 py-16 text-h4 text-primary-navy;
  }

  &__toggle {
    @apply absolute bg-neutral-100 border border-neutral-400 p-4 rounded-full transition-all;
    right: -0.875rem;
    top: 0.5rem;

    &:focus {
      @apply bg-neutral-300 rounded-full;
    }
  }

  &__toggle-icon {
    @apply text-neutral-600;
    height: 1.25rem;
    width: 1.25rem;
  }
}

.mobile-sidebar-trigger {
  @apply bg-neutral-100 border border-primary-blue duration-300 ease-linear flex font-medium items-center py-8 rounded sm-desktop:hidden text-primary-blue text-caption transition-all tracking-wider uppercase;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  &:hover,
  &:focus {
    @apply bg-primary-blue text-neutral-100;
  }

  &__icon {
    @apply h-16 ml-16 w-16;
  }
}

.mobile-sidebar-search {
  @apply border border-primary-blue duration-300 ease-linear font-medium mt-24 mx-16 rounded text-primary-blue text-center text-label transition-all tracking-wider uppercase;
  width: calc(100% - 2rem);

  @screen sm-desktop {
    @apply hidden;
  }

  &:hover,
  &:focus {
    @apply bg-primary-blue text-neutral-100;
  }

  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
}

.mobile-sidebar-heading {
  @apply bg-neutral-100 flex font-medium items-center justify-between p-16 pr-24;

  @screen sm-desktop {
    @apply p-24;
  }

  &__label {
    @apply text-h3 text-neutral-700;
  }

  &__reset {
    @apply text-caption text-neutral-600 underline;
  }
}

.mobile-sidebar-glossary {
  @apply px-16 py-32;

  @screen sm-desktop {
    @apply px-24;
  }
}
