.category-heading {
  @apply mb-24;

  @screen sm-desktop {
    @apply mb-32;
  }

  &__name {
    @apply font-bold inline mb-32 sm-desktop:mb-40 text-h1;
  }

  &__results {
    @apply inline text-h1;
  }

  &__description {
    @apply mt-8 text-neutral-600;
  }
}
