.related-searches {
  &__heading {
    @apply mb-16 text-h3;

    @screen tablet {
      @apply text-h2;
    }

    @screen sm-desktop {
      @apply mb-24;
    }
  }

  &__list {
    @apply -mx-16 -my-8 flex flex-row flex-wrap;
  }

  &__list-item {
    @apply m-8;

    a {
      @apply no-underline;
    }
  }
}
