.search-tip {
  @apply bg-primary-light p-16 rounded;
  box-shadow: 0 0 4px 0 theme('colors.neutral.500');

  & + & {
    @apply mt-32;
  }

  @screen tablet {
    @apply p-24;
  }

  &__title {
    @apply font-bold mb-24;
    font-size: 1.125rem;

    @screen tablet {
      @apply text-h3;
    }

    a {
      @apply text-primary-navy;
    }
  }

  &__description {
    @apply text-neutral-600;
  }
}
