.filter-block {
  &--collapsed {
    .filter-block {
      &__body {
        max-height: 0;
        transition: max-height 0.3s ease-out;
        visibility: hidden;
      }

      &__legend {
        button {
          @apply font-normal;
        }
      }

      &__toggle-icon {
        transform: rotateX(180deg);
      }
    }
  }

  &__body {
    @apply h-auto overflow-hidden;
    transition: max-height 0.3s ease-in;
    max-height: 150rem;
  }

  &__legend {
    @apply relative w-full;

    & > button {
      @apply bg-neutral-100 flex font-bold justify-between p-16 text-h4 text-primary-navy w-full;
      outline: none;

      @screen sm-desktop {
        @apply p-24;
      }

      &:focus {
        @apply rounded-none ring-offset-0 ring-1;

        .filter-block__toggle-icon {
          @apply outline-none ring-1 ring-secondary-red;
        }
      }
    }

    & > .filter-block__legend-name {
      @apply bg-neutral-100 flex font-bold justify-between p-16 text-h4 text-primary-navy w-full;

      @screen sm-desktop {
        @apply p-24;
      }
    }
  }

  &__toggle-icon {
    @apply h-16 w-16 rounded-full text-secondary-red;

    transition: transform 0.2s ease-out;
  }
}
