.search-bar {
  @apply flex items-center mt-8 pb-8 relative;

  grid-area: search;

  @screen tablet {
    @apply mt-0 mr-16 pb-0;
    width: 21.4375rem;
  }

  @screen sm-desktop {
    @apply mr-0 ml-24;
    width: 24.25rem;
  }

  @screen profile-desktop {
    width: 30rem;
  }

  &:focus-within {
    .search-bar {
      &__input {
        @screen tablet {
          @apply pl-16;
        }
      }

      &__clear {
        @apply block;
        @screen tablet {
          @apply hidden;
        }
      }

      &__icon {
        @apply hidden;
      }

      &__submit {
        @apply block;
      }
    }
  }

  &__icon {
    @apply h-16 w-16;
  }

  &__input {
    @apply border border-neutral-400 font-medium pl-40 pr-16 rounded-sm text-label w-full;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    &:focus {
      @apply ring-offset-0 ring-secondary-light;
    }

    &--open {
      @apply rounded-b-none;
    }
  }

  &__clear {
    @apply absolute hidden left-0;
    padding: 0.75rem;
    top: 0.0625rem;

    svg {
      height: 1rem;
      width: 1rem;
    }
  }

  &__icon {
    @apply absolute left-0;
    margin-left: 0.75rem;
  }

  &__submit {
    @apply absolute hidden right-0;
    padding: 0.75rem;
    top: 0.0625rem;

    svg {
      @apply h-16 text-primary-blue w-16;

      @screen tablet {
        color: inherit;
      }
    }
  }
}

.search-autosuggest-list {
  @apply absolute top-full z-20;

  &--open {
    @apply bg-neutral-100 elevation-2 left-0 rounded-bl rounded-br w-full;
  }
}

.search-autosuggest-list-item {
  @apply border-t border-neutral-400 p-16 pb-8 relative;

  &--highlighted {
    @apply bg-primary-light;
  }

  &__icon {
    @apply absolute h-16 right-16 tablet:hidden top-16 w-16;
  }

  &__label {
    @apply block text-h5;
  }

  &__type {
    @apply block text-caption text-neutral-600;
  }
}
